.popup-card{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.6s, opacity 0.6s linear ;
        -webkit-transition: visibility 0.6s, opacity 0.6s linear ;
        -moz-transition: visibility 0.6s, opacity 0.6s linear ;
        -ms-transition: visibility 0.6s, opacity 0.6s linear ;
        -o-transition: visibility 0.6s, opacity 0.6s linear ;
}