.profile__add-button {
    width: 154px;
    background-color: black;
    border: 2px solid white;
    height: 50px;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 265px;
    padding: 0px;
}


.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 948px) {
    .profile__add-button {
        width: 286px;
        margin-left: 0px;
    }
}